<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <%- include ../common/head %>
    <body>
        <%- include ../common/header %>
        <%- include ./body %>
        <%- include ../common/footer %>
        <%- include ../common/scriptpack %>
    </body>
</html>